version: "3.9"

services:
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ../backend
      dockerfile: ../docker/Dockerfile.backend
    env_file:
      - ../backend/.env
    depends_on:
      - mongo
    ports:
      - "4000:4000"

  frontend:
    build:
      context: ../frontend
      dockerfile: ../docker/Dockerfile.frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  mongo-data: {}
